<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name = "genericlibrary.Listener"></listener>
	<listener class-name = "genericlibrary.ExtentReporterNG"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="pageAction.FacebookLogin"/>
      <class name="pageAction.CookiesTest"/>
      <class name="pageAction.gitHub"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
